<!DOCTYPE html>
<html>
<head>
    <title>Nodes Dashboard</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Nodes Dashboard</h1>
    <table>
        <tr>
            <th>NodeID</th>
            <th>UUID</th>
            <th>Timestamp</th>
        </tr>
        <% nodes.forEach(node => { %>
            <tr>
                <td><%= node.NodeID %></td>
                <td><%= node.UUID %></td>
                <td><%= node.timestamp %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>
