<!DOCTYPE html>
<html>
<head>
    <title>Nodes Dashboard</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 15px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Nodes Dashboard</h1>
    <table>
        <thead>
            <tr>
                <% nodes.forEach(node => { %>
                    <th><%= node.NodeID %></th>
                <% }) %>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% nodes.forEach(node => { %>
                    <td><%= node.timestamp %><br><%= node.UUID %></td>
                <% }) %>
            </tr>
        </tbody>
    </table>
</body>
</html>
